.header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header nav a {
  margin-left: 15px;
  color: white;
  font-weight: 600;
}
